[2015-06-02 18:55] anjdreas opened #1 "Expose async methods"
Same request as for the API v2 SDK: https://github.com/kfrancis/Chargify2/issues/3

The current library only exposes synchronous methods, meaning the web server is forced to keep a CPU thread twiddling its thumbs while waiting for the Chargify response. Since the thread pool is a limited resource, enough traffic to long running synchronous tasks like these can cause a severe bottleneck.

I recomme

[2015-06-04 16:03] bieoe opened #2 "Bug in "UpdateTheSubscriptionCreditCard" method"
In the private method for updating the subscription credit card, the CVV's length is checked if the CVV is required in Chargify. HOWEVER, it is possible to pass in a null value for the CVV if that value should not be updated. Because there is no check to see if the CVV is null, the call to this method throws a null object reference exception. This bug makes it impossible to update just the billing

[2015-06-11 20:30] kfrancis commented on #2
Currently there's a property of ChargifyConnect `CvvRequired`. Set `CvvRequired` = false for those cases for now.

[2015-06-11 20:30] #2 closed

[2015-06-26 15:36] kfrancis opened #5 "Refactor to use JSON.Net"

[2015-07-01 23:03] darcythomas opened #6 "Provide a usage licence."
So that my client can have certainty that they are not going to have to open source their code base, because they used an AGPL licence library. Can you please provide a licence, that this project can be used under.

Both here and on the nuget page.

[2015-07-01 23:21] #6 closed

[2015-07-01 23:22] kfrancis commented on #6
Sorry about that, it looks like it didn't get carried over from when I moved the project from Codeplex to GitHub (which was largely manual, and not the nice automatic method).

Now that the license has been added (it's always been in the source code), I'll change the nuget release to point to the new license.

[2015-07-01 23:34] kfrancis commented on #6
Release 1.1.5595.41432 has what you are looking for Darcy

[2015-07-10 09:52] davidmono opened #7 "CreateSubscription name on credit card"
Hi,

This function is ignoring name from credit card. It just takes name from customer.

CreateSubscription(string ProductHandle, ICustomerAttributes CustomerAttributes,                                                       ICreditCardAttributes CreditCardAttributes)

[2015-09-15 14:51] kfrancis opened #10 "Add Payments API"
It looks like the payment API was added in April, so it needs to be added to the library.

https://docs.chargify.com/api-payments

[2015-09-15 17:58] #10 closed

[2015-10-04 01:07] kfrancis commented on #7
I don't see a method that matches that, can you point it out?

[2015-10-05 08:14] davidmono commented on #7
Chargify.NET\ChargifyConnect.cs
Line 1792

Problem is in function on line 2564, name is not set in credit_card_attribute.

https://docs.chargify.com/api-subscriptions

[2015-10-22 09:54] TimS- opened #11 "No property for VAT Number on Customer"

[2015-10-22 10:20] TimS- commented on #11
This seems to be due to the property not being returned in any API endpoints by Chargify which is odd as it's a propery of the Customer in the UI. Asking support

[2015-10-22 10:53] TimS- opened #12 "No methods to Validate a coupon or retrieve Coupon Usage"
Endpoints for coupon validation and coupon usage are detailed in the API docs here but don't seem to be available in this library (that I could see): https://docs.chargify.com/api-coupons

[2015-10-22 15:22] TimS- commented on #11
Turn out the field is only sent back when a customer has a vat_number value set. It's undocumented as far as I can see but I can see it in a raw API request for a customer of mine where the field has a VAT value. Would be great to have this optional field added into the .Net wrapper.

[2015-10-23 09:41] TimS- opened #13 "Referral code functionality not implemented"
The Subscription#create API endpoint now takes an optional ref parameter.

https://docs.chargify.com/referrals
https://docs.chargify.com/api-subscriptions

[2015-11-03 06:59] janigorse commented on #11
I am also interested in getting vat_number. Could this be included in .net wrapper any time soon?

[2015-11-06 20:04] kfrancis commented on #13
I'll take a look.

[2015-11-06 20:05] kfrancis commented on #12
I generally use the FindCoupon to validate, and though I do see a specific validate call it really doesn't add anything.

[2015-11-06 20:06] kfrancis commented on #11
Anyone want to fork and add a pull request?

[2015-11-06 20:07] kfrancis opened #14 "As an API user, I'd like to be able to create multiple subscriptions for a single customer"
It looks like I had been checking for uniqueness before creating the subscription and when adding subsequent subscriptions for a customer, this actually prevents it from working correctly.

[2015-11-06 20:08] #14 closed

[2016-01-06 15:55] TimS- commented on #11
Any joy with this change? It would be a huge help, and while I'm happy to contribute a fix I'm not at all familiar with this library and how to correctly make this change in all the necessary places.

[2016-01-08 10:26] TimS- commented on #13
Any joy with this one? Cheers

[2016-01-08 13:51] TimS- commented on #11
I see there is an open PR for this

[2016-01-08 14:11] TimS- opened #16 "TLS Upgrade 12 January 2016"
Chargify are no longer supporting TLS 1.0 and 1.1 from 12 January 2016 (https://docs.chargify.com/tls-upgrade-notice). In my Chargify control panel I saw a notification saying "We’re concerned that your Chargify integration will stop working on Jan 12, 2016. Please see your ​TLS Check page (https://app.chargify.com/tls_check) for more information."

Sure enough that page shows a that the client 'C

[2016-01-15 22:23] Jabberrwocky commented on #16
Hi TimS,

I am glad I found your post. I kept running into the following error

    {"The underlying connection was closed: An unexpected error occurred on a send."}
    {"Authentication failed because the remote party has closed the transport stream."}

Once I manually set `ChargifyConnect.ProtocolType` to `SecurityProtocolType.Tls12` everything worked as it should

[2016-01-28 13:27] bevnetcraven opened #17 "Can't read payment profiles?"
It seem as though this part of the API is not fully implemented...or am I missing something?

https://docs.chargify.com/api-payment-profiles

Thanks in advance!

[2016-02-02 21:30] rickstricker commented on #17
Dang.  I'm needing this as well.  Unfortunately, Authorize.Net only supports expiration updates through the payments profile interface.

[2016-02-04 18:32] kfrancis commented on #16
Yes - so I added that property long ago when I removed the explicit setting of SecurityProtocolType in versions earlier than [Chargify.NET v1.1.5400.37999](http://chargify.codeplex.com/SourceControl/changeset/89147). Everything after 37999 removes the hard-coded value and allows it to be set, which you can set to TLS 1.2 if using .NET 4+ (details about the values on the Chargify documentation).

[2016-02-04 18:32] #16 closed

[2016-02-04 18:32] kfrancis commented on #17
Hmm - what part explicitly?

[2016-02-04 18:35] kfrancis commented on #11
Merged

[2016-02-04 18:35] #11 closed

[2016-02-04 18:36] kfrancis commented on #1
I've started an async version of the library that's structured better. I'll leave this for that project.

[2016-02-04 18:36] #1 closed

[2016-02-04 18:45] bevnetcraven commented on #17
@kfrancis I'm looking for these methods: https://docs.chargify.com/api-payment-profiles

Idea being that we'd like to allow existing customers to see existing payment profiles and select from them rather than have to always enter new credit card info.

[2016-02-04 19:17] rickstricker commented on #17
...and in my case, this is the only way that Authorize.Net allows the updating of the expiration date.

See: https://docs.chargify.com/api-subscriptions#update

[2016-02-04 22:15] dbruning opened #18 "No UpdateProduct?"
Hi,

I'm using ChargifyDotNet to check and move configuration changes between sites. Thanks for the excellent work!

I noticed that there is no UpdateProduct method. There is an UpdateCustomer method, and Customers have settable properties - but Products seem to have properties that are get-only.
Is this by design? It seems like the [Chargify API](https://docs.chargify.com/api-products#update) all

[2016-02-05 03:44] dbruning opened #19 "Product: return_url and return_params seem to have been renamed at Chargify"
Per the [Chargify docs](https://docs.chargify.com/api-products), there is no return_url and return_params; there is only update_return_url and update_return_params

(Interestingly, return_params still seems to be included the the product XML from Chargify, but return_url is not).

I've had a go at fixing this, will submit a PR.

[2016-02-05 15:43] kfrancis commented on #19
Thanks! I'll get this released, but it has already been merged.

[2016-02-05 15:43] #19 closed

[2016-02-05 15:45] kfrancis commented on #18
Chargify opened that up eventually. Back when this was first added, you could only update the products through the admin.

Should be fairly easy to add if you wanted to tackle that.

[2016-02-05 15:46] kfrancis commented on #17
Hmm - I'll take a look.

[2016-02-05 17:49] kfrancis commented on #17
Done, [added](https://github.com/kfrancis/chargify-dot-net/commit/0a3bc04f02b2b5c4dafae67174ac5295e6e94b68) and [released](https://github.com/kfrancis/chargify-dot-net/releases/tag/v1.1.5879.22909). Thanks for the feedback!

[2016-02-05 17:49] #17 closed

[2016-02-08 17:04] kfrancis commented on #13
Adding parameters to subscription create is getting to be unweildy. I'm looking at refactoring subscription create to take a single "options" parameter and doing it that way.

[2016-02-08 18:21] dbruning commented on #18
Ah right. I've scratched my immediate itch by hitting the API directly, but would like to come back & help add this in to chargify.net at some stage.

[2016-02-10 01:47] bevnetcraven opened #22 "Make NextBillingAt nullable on CreateSubscription?"
Per the chargify API, this is an optional parameter: https://docs.chargify.com/api-subscriptions (scroll to "next_billing_at)

This is actually pretty important in that a null value collects payment immediately / when the subscription is created. If this value is set (event to a date in the past), there's a delay.

Any chance you can change this to be DateTime? in the applicable methods? I'm parti

[2016-02-10 14:39] bevnetcraven commented on #22
Ok, so looking at the source it seems as though passing in DateTime.MinValue achieves the desired result.

[2016-02-10 18:32] kfrancis commented on #22
I tried to use a known value for all items for that purpose, rather than play with nullable objects (minus string, of course). Mostly because I didn't want to deal with the parsing of nulls.

[2016-02-10 18:32] kfrancis commented on #22
Oh, and you're welcome!

[2016-02-12 18:21] bevnetcraven opened #23 "Fix FullCardNumber and Card Type?"
In version .5879, PaymentProfile.FullCardNumber is blank (in older releases it wasn't) and Card Type is missing.

Someone committed a fix for this...Can you possibly roll this into the release soon?  Thanks!

https://github.com/kfrancis/chargify-dot-net/commit/050967e752bfc857589c802709312318e33882bd

[2016-02-22 21:03] bevnetcraven commented on #23
@kfrancis Any chance you can push out an update for this? Thanks!

[2016-02-24 16:07] kfrancis commented on #23
Let me check on this

[2016-02-24 16:10] kfrancis commented on #23
@bevnetcraven What's the issue here Ben? I'm not sure I see the issue.

[2016-02-24 16:10] #22 closed

[2016-02-24 16:15] #7 closed

[2016-02-24 16:16] kfrancis commented on #7
@davidmono Released in `1.1.5898.20266`

[2016-02-24 16:57] #18 closed

[2016-02-24 16:59] kfrancis commented on #18
Released in v1.1.5898.21530

[2016-03-09 17:00] kfrancis opened #24 "The API is throwing 500 errors on empty customer updates"
While the API used to allow empty <customer> nodes, that has been closed and now causes 500 errors. If there are no updates, there should be no call.

[2016-03-09 17:21] #24 closed

[2016-03-16 23:03] OSPete opened #25 "Medium Trust Host Error Since upgrading to .NET 4+"
In upgrading to the latest version (to fix the bad request issue with customer update) we've been experiencing the following error when trying to run in our hosted environment.

Our site is hosted on Rackspace Cloud Sites where they run with [Modified Medium Trust](https://support.rackspace.com/how-to/modified-medium-trust-on-cloud-sites/).

This seems to have been introduced by the recent update

[2016-03-17 13:13] LordJZ opened #26 "NuGet Package has Microsoft.Net.Compilers dependency"
As far as I see Microsoft.Net.Compilers is used for development only, but here on nuget I see this dependency:
https://www.nuget.org/packages/chargify/
Microsoft.Net.Compilers (>= 1.1.1)

[2016-03-25 16:53] kfrancis commented on #26
Is it?

[2016-03-25 16:55] kfrancis commented on #25
My only question is if that will mess up serialization. Do you know? If it won't then it can just be commented out.

[2016-03-25 20:24] LordJZ commented on #26
Yes. You should probably specify `developmentDependency="true"` in this file: https://github.com/kfrancis/chargify-dot-net/blob/master/Source/Chargify.NET/packages.config

[2016-04-01 13:04] TimS- commented on #26
Found this too - it seems it was added as part of this PR https://github.com/kfrancis/chargify-dot-net/pull/15

[2016-04-01 13:56] TimS- opened #27 "MissingMethodException when setting VatNumber property on ICustomer"
I updated to the latest build on Nuget to implement VatNumber functionality since a PR https://github.com/kfrancis/chargify-dot-net/pull/15, however I am getting the following error when I try to call my method which gets a customer and updates the VatNumber property - assuming it's not been fully implemented?

[code]

[2016-04-01 21:37] kfrancis commented on #26
I've never known this to be an issue, or that it should only be used for development. It's not even really necessary. I can make that change.

[2016-04-01 21:40] kfrancis commented on #27
That's because you aren't supposed to set output object properties, `CustomerAttributes` has `VatNumber` which is what you set (or alternatively `SubscriptionCreateOptions`).

It's not a great structure, I agree - I just haven't had time to work on the better structured lib (input/output poco serialization, better overall structure, using RestSharp and not .NET vanilla, .NET Core 1 compat, etc). T

[2016-04-01 21:57] kfrancis commented on #26
Removed the dependency in 1.1.5935.32008

[2016-04-01 21:57] #26 closed

[2016-04-01 21:58] kfrancis commented on #25
Fixed in release `1.1.5935.32008`

[2016-04-01 21:58] #25 closed

[2016-04-05 05:19] LordJZ opened #28 "Number/DateTime parsing routines MUST use invariant (or otherwise explicit) culture"
JSON spec explicitly states which characters can be used to denote numbers; Chargify also uses culture-independent settings when outputting JSON and XML. However, chargify-dot-net uses the current thread culture to parse numbers and dates/times both in JSON and XML, and sometimes fails silently when failing to parse JSON or XML.

Tests can be used to enforce 3 conditions:
* Any method that parses

[2016-04-18 14:44] #28 closed

[2016-04-18 14:44] #27 closed

[2016-04-26 14:31] kfrancis opened #31 "Add Renewal Preview API"
https://docs.chargify.com/api-renewal-preview

[2016-04-26 18:22] #31 closed

[2016-04-27 01:58] LordJZ commented on #28
Why is this closed though? There are still tons of issues unsolved.

[2016-05-04 02:38] kfrancis opened #32 "Allow delayed product change"
Let's update the `EditSubscriptionProduct` method to allow for delayed product change, which only requires one additional optional paramter.

[2016-05-04 02:38] #32 closed

[2016-08-08 14:10] kfrancis opened #33 "Add Notes"
https://docs.chargify.com/api-notes

[2016-08-16 13:44] robfarmergt opened #34 "Allow GetTransactionList method to specify direction"
Allow the GetTransactionList method to specify either descending or ascending.

https://docs.chargify.com/api-transactions

[2016-08-16 15:56] rayjezek opened #35 "Sample app http://chargify.clinicalsupportsystems.com/ doesn't work"
The sample app http://chargify.clinicalsupportsystems.com/ does not work.

[2016-08-23 04:11] hewittj opened #37 "Add ability to remove a coupon from a subscription"
Hey @kfrancis I mentioned this to you via Twitter but thought I would also jump in here and have a go at adding the option myself as my first time working with GitHub. Please let me know if I do anything wrong or don't follow the correct GitHub conventions though :smile:

https://docs.chargify.com/api-coupons#api-subscription-coupon-remove

[2016-08-29 19:28] #33 closed

[2016-08-29 19:37] kfrancis commented on #37
Just needed to add it to the interface, and write the test for it - thanks for the code :)

[2016-08-29 19:37] kfrancis commented on #37
(Released in v1.1.6085.28097)

[2016-08-29 19:37] #37 closed

[2016-08-29 19:37] kfrancis commented on #35
I don't run it indefinitely - did you need to check it out?

[2016-08-29 19:50] #34 closed

[2016-08-30 04:02] kfrancis commented on #13
@TimS- The refactor included the "ref" param, but the rest I'm committing right now.

[2016-08-30 04:03] kfrancis commented on #13
(Thanks to @jamzi)

[2016-08-30 17:54] mysticp256 opened #40 "One-time charge doesn't have 'taxable' option"
Hi, when doing a one-time charge, there isn't a setting for taxable.  I have done the change in the source code but I am unable to upload it.  If you would like it, please tell me what I need to do to get it to you.

Thanks.

[2016-08-31 19:38] mysticp256 opened #41 "On 'GetTransactionsForSubscriptions' when supplying a sincedate and untildate, they aren't included in the query."
On this one, you are passing the MinValue on both items which causes it to not use them. I have fixed this issue as well, I can upload my changes if you let me.

Thanks...  Here is the new source code

[2016-09-08 21:24] rdugre opened #42 "GetMetadataFor returning list with empty strings"
I have a subscription for a test site that has 3 custom fields with names and values assigned.

Below is a screenshot showing the custom fields populated for the subscription.

![2016-09-08_17-21-08](https://cloud.githubusercontent.com/assets/882287/18367411/f288bc7c-75e8-11e6-99cc-109d1ada6833.png)

When I call the GetMetadataFor like:

[code]

I do get a MetadataResult object back with 3 items i

[2016-09-09 14:29] rdugre commented on #42
Upon further investigation, it looks like this is only happening when the "UseJson" property is set to "true" on the ChargifyConnect object. It seems the call to
[code]

is constructing the object, but not placing the keys or values into the "metadata" list.

Hope that helps.

[2016-09-13 09:27] stfauske opened #43 "Invoice Payment"
There seems to only be support for getting a list of invoices, while there is no support for adding a payment to an invoice, like described in the Chargify API: https://docs.chargify.com/api-invoices-payments

By just using AddPayment, the payment will not be linked to the invoice and the status will remain Unpaid.

Am I right here, or am I missing something here?

[2016-09-20 22:54] wtheronjones opened #44 "entity/POCO objects to XML?"
Thanks for putting this project out there. It is making my life much easier right now!

I have an enhancement request.

The chargify REST API will return XML, which is serialized into C# objects, I would like to be able to serialize those objects back to XML that matches the XML returned by the REST API as we'll be storing a copy of this XML in our own system.

Any plans to enhance Chargify.NET to

[2016-09-21 00:12] wtheronjones opened #45 "Add support for missing fields in Chargify.NET"
I am working on converting the C# object returned from Chargify.NET back into XML, however, I'm noticing some elements in the XML returned by Charfigy's REST API are not represented as properties in the C# objects.

Example:
  Class: Product
  Missing: taxable
                initial_charge_after_trial
                update_return_params

  Class: Component:
       Supports only 3 properties(id,

[2016-09-23 15:05] kfrancis commented on #44
You can actually already obtain this, look at hooking into LogResponse or pulling the data from LastResponse. Let me know if that will work for you.

[2016-09-23 15:45] kfrancis commented on #45
For sure, I'll get those added. They do add fields all the time, so they get added to the library when I get feedback.

[2016-09-23 15:46] kfrancis commented on #43
You are likely correct, a they change the API over time - I'll get that added when I get time (or you can do a PR)

[2016-09-23 17:12] wtheronjones commented on #45
Sounds good!

[2016-09-30 14:00] denisivin commented on #45
Would be also nice to have "current_billing_amount_in_cents" from the subscription object. Thanks.

[2016-12-14 05:10] valentinas15 opened #46 "PreviewRenewal method does not work"
Calling PreviewRenewal results in

Unexpected character encountered while parsing value: C. Path '', line 0, position 0.
That's what we get when calling wrapper method - it looks like data structure has changed since wrapper lib was implemented.

[2016-12-16 18:08] kfrancis commented on #46
I'll check.

[2017-03-17 23:29] ctadlock opened #48 "Support for subscription holding"
https://www.chargify.com/blog/subscription-on-hold-release/

[2017-04-09 02:48] kfrancis commented on #48
I'll check this out.

[2017-05-19 20:24] kfrancis opened #49 "Depreciated Endpoints"
/subscriptions/123/components/456.xml is depreciated (doesnt properly honor upgrade/downgrade schemes).

[2017-05-24 03:42] #49 closed

[2017-05-24 03:43] #44 closed

[2017-05-24 03:44] #35 closed

[2017-06-28 16:00] kfrancis opened #50 ".NET Standard Compatibility"
https://www.nuget.org/packages/chargify/1.2.0-beta

[2017-06-28 19:49] #50 closed

[2017-06-28 19:49] kfrancis commented on #48
Released

[2017-06-28 19:49] #48 closed

[2017-06-28 19:58] kfrancis commented on #46
Seems fine, my [test](https://github.com/kfrancis/chargify-dot-net/blob/master/Source/ChargifyDotNet.Tests/RenewalPreviewTests.cs#L13) runs successfully. Are you still having this issue?

[2017-06-28 19:58] #46 closed

[2017-06-28 19:58] kfrancis commented on #45
I believe this is updated with the latest release.

[2017-06-28 19:58] #45 closed

[2017-06-28 20:13] #43 closed

[2017-06-28 20:22] kfrancis commented on #42
Looking into this now. Sorry for the delay, I'm back on the ball now that it's .NET Standard based :)

[2017-06-28 20:23] kfrancis commented on #42
I see the same result, right number of objects but no content:

`{"TotalCount":3,"CurrentPage":1,"TotalPages":1,"PerPage":20,"Metadata":[{"ResourceID":0,"Value":"","Name":""},{"ResourceID":0,"Value":"","Name":""},{"ResourceID":0,"Value":"","Name":""}]}`

[2017-06-28 21:54] #42 closed

[2017-06-28 22:09] kfrancis commented on #41
Let me know if you do have the source change for this, I'd like to roll this in.

[2017-06-28 22:11] kfrancis commented on #40
Hmm, I don't see `taxable` as an input option when creating a charge [see reference](https://reference.chargify.com/v1/charges/create-a-charge-2). Let me know what the source change is here if you can.

[2017-06-28 22:12] kfrancis commented on #40
Oh, I see it now - it's not on the new documentation, it's on the [old](https://docs.chargify.com/api-charges)

[2017-07-07 02:34] kfrancis commented on #41
If you've specified a since and until date - then it wouldn't be set to the min value .. you'll have to show me as I don't see anything wrong here.

[2017-07-07 02:34] kfrancis commented on #40
It does now.

[2017-07-07 02:34] #40 closed

[2017-08-01 02:52] #41 closed

[2017-08-01 02:54] #13 closed

[2017-08-10 22:49] MartyIce opened #52 "Price Points?"
Are Price Points updatable with the API?  I searched code for "price_point_id" and "PricePoint", but didn't get any hits.

If not, are there any plans to add in near future?

Thanks!

[2017-08-10 23:01] MartyIce opened #53 "Failing to compile"
I was going to look into implementing price points, but am not able to compile the solution (VS 2017).  Wondering where I'm being dumb and missing something simple?  Here's a screenshot of the error dump:

![image](https://user-images.githubusercontent.com/5083039/29195776-dc53091a-7df5-11e7-9c3b-97aec7b1e34f.png)

[2017-08-11 19:58] kfrancis commented on #53
As this is now a .NET standard library, you might need VS2017 Preview to build the solution.

[2017-08-23 15:29] kfrancis commented on #52
Can add this for you if you need.

[2017-09-07 13:44] OSPete opened #54 "GetPrettyUpdateURL Page Not Found"
The GetPrettySubscriptionUpdateURL is 404'ing because the "/" parts of the URL itself are getting encoded. I haven't been able to narrow down what has changed on chargify's end to cause this - it does seem like a bug in Chargify.NET though. I've outlined fixes below.

If you update the [Chargify.NET ChargifyConnect](https://github.com/kfrancis/chargify-dot-net/blob/3ae0454ebeaa4e074c2ae2378f628ccb

[2017-09-13 18:26] kfrancis commented on #54
Nice! I'll look at this shortly.

[2017-09-14 14:34] OSPete commented on #54
Just confirmed this morning the GetSubscriptionUpdateURL does have the same issue - we're using it in another area, so both of those changes would be needed. (Note: Again, you could just URLEncode each of the properties in the URL so the "/' isn't caught up in it - I just chose not to because first name/last name seems like the only potential areas for error)

[2017-09-19 14:39] kfrancis commented on #54
Thanks @OSPete for the PR, merged!

[2017-09-19 14:46] kfrancis commented on #54
Released in [version 1.2.3](https://www.nuget.org/packages/chargify/1.2.3).

[2017-09-19 14:48] #54 closed

[2017-09-19 14:48] kfrancis commented on #53
You should now be able to build using non-preview, since .NET Core 2 was released along with the tooling.

[2017-09-19 14:48] #53 closed

[2017-10-20 02:56] teabaggs commented on #5
on it.

[2017-11-09 15:04] asfmadx opened #59 "Preview an Allocation Change"
Is there currently support for previewing changes to allocations?
As seen in their api [here](https://reference.chargify.com/v1/components-quantity-allocations/preview-allocations)

[2017-11-10 08:35] praveen-prakash commented on #52
Yes Please do. :) I also have to implement the same in my app.

[2017-11-10 08:38] praveen-prakash commented on #59
Yes, You can get it from here.
https://github.com/praveen-prakash/chargify-dot-net/commit/9f5fa6d2ca6cdd26d5f8cde1f522acdc7ef30398

[2017-11-14 14:38] kfrancis commented on #59
@praveen-prakash Why don't you send me a pull request for that?

[2018-02-25 18:28] AuldinSolutions opened #60 "Changing Domain of Hosted & Signup Pages"
When do you think you be updating the library to support this upcoming change by Chargify?

https://help.chargify.com/announcements/new-chargifypay-domain.html

Thanks!

[2018-02-27 17:36] kfrancis commented on #60
Absolutely!

[2018-03-28 19:26] kfrancis opened #61 "Add subscription create preview"
https://reference.chargify.com/v1/subscriptions-preview

[2018-03-28 19:27] #61 closed

[2018-04-15 09:42] damonjanis opened #62 "System.ArgumentOutOfRangeException"
On calling CreateSubscription this exception is always thrown: System.ArgumentOutOfRangeException: 'Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index'. I've included the exception details below.

I'm using version Chargify.Net 1.2.5 from Nuget on a .Net Framework 4.6.1 project, and Newtonsoft.Json v11.0.2.

Here is the code (this is on a t

[2018-04-16 14:43] kfrancis commented on #62
I'll take a look.

[2018-04-16 19:40] damonjanis commented on #62
Thanks for looking into it! I ran the same code against a different Chargify site and got the same exception. I thought it might be specific to the site but it doesn't appear to be.

[2018-04-17 13:49] kfrancis commented on #62
Hmm, none of my create subscription tests appear to fail - checked this one `CreateSubscription(String productHandle, ICustomerAttributes customerAttributes, ICreditCardAttributes creditCardAttributes)`. Still not sure what could be the issue.

[2018-04-17 20:05] damonjanis commented on #62
Thank you for double checking. I can't figure out why it throws that exception, but I did find a work around. This call works without throwing the exception:

` ChargifyConnect.CreateSubscription("standard-monthly", "12345", creditCard);`

There is something in the `CreateSubscription(string productHandle, ICustomerAttributes customerAttributes, ICreditCardAttributes creditCardAttributes)` method

[2018-04-18 17:46] kfrancis commented on #62
I would just suggest using the SubscriptionCreateOptions override, but that works too.

[2018-05-12 22:31] ClueControl opened #63 "Feature Request - Purge"
Hi,

Can the purge function be implemented to remove subscriptions?

Using a POST request:

https://SUBDOMAIN_HERE.chargify.com/subscriptions/SUBSCRIPTION_ID_HERE/purge.json?ack=CUSTOMER_ID_HERE

[2018-06-12 13:37] vgooz commented on #52
When are you planing to add price points support?
I need this feature too. Thanks.

[2018-07-04 14:56] kfrancis commented on #52
Happy to take PRs here

[2018-07-04 15:51] MartyIce opened #64 "The type or namespace name 'IMetafield' could not be found"
Where is IMetafield (referenced by ChargifyConnect class) defined?  I did a clean pull and am seeing the following error trying to build (in VS2017):

The type or namespace name 'IMetafield' could not be found (are you missing a using directive or an assembly reference?)	ChargifyDotNet(netstandard2.0)

\chargify-dot-net\Source\ChargifyDotNet\ChargifyConnect.cs	215

[2018-07-20 02:08] ClueControl commented on #63
I tried my hand at creating adding the purge command.  Does this look about right?  I can't compile even before any changes so still working on that.

`/// <summary>
        /// Purge the specified subscription
        /// ** CAUTION:  Permanently deletes subscription and all revenue, no way to undo this! **
        /// </summary>
        /// https://SUBDOMAIN_HERE.chargify.com/subscriptions/SUBSC

[2018-07-20 02:15] ClueControl commented on #63
I tried my hand at creating a purge function.  I couldn't compile even before making changes so I am still working on that part.  Any input on how this looks would be greatly appreciated.

    /// <summary>
    /// Purge the specified subscription
        /// ** CAUTION:  Permenantly deletes subscription and all revenew, no way to undo this! **
        /// </summary>'
        /// https://SUBDOMAIN

[2018-10-01 03:48] rdsimes opened #65 "ChargifyException Message may contain sensitive information"
We have noticed that some ChargifyException Message values contain sensitive information, namely the request body that was posted to chargify. Here is an abridged sample (bogus credit card number used)

[code]
Some request body values may be acceptable to include in the message but probably not any containing a cc number etc

Happy to have a crack at resolving this issue

[2018-10-24 14:33] OSPete commented on #64
When I pulled it down the other day I ran into this and after looking around it looks like it was pulled in during the issue fix for #61 - I couldn't find any references to it in the code in my quick search and a google search seems to lead to some sitefinity CMS thing? I dunno.

Since I couldn't find any reference to the code within the library itself, I just removed that method and everything bu

[2018-10-24 14:41] robfarmergt commented on #64
That worked for me as well, thanks!

[2018-10-24 14:43] OSPete commented on #64
No problem!

Some more searching and there does seem to be some metafields/metadata functionality related to subscriptions supported by the API: https://www.chargify.com/blog/metafields-and-metadata-api-endpoints/
So this might be the in progress (ie: incomplete) work on implementing that, i haven't looked at the code close enough to confirm this though.

[2018-10-30 18:58] kfrancis commented on #65
Ok, I'll get that cleaned up: the full number is likely the only field that might be problematic.

[2018-10-30 19:43] #64 closed

[2018-10-30 19:43] kfrancis commented on #64
Sorry everyone, this was related to some code that hadn't been checked in.

[2018-10-30 19:43] kfrancis commented on #65
This will be released in the next version.

[2018-10-30 19:43] #65 closed

[2018-10-30 19:46] kfrancis commented on #63
I can't find purge in the [documentation](https://reference.chargify.com), did they change it since you've posted?

[2018-10-30 19:47] #62 closed

[2018-10-30 19:50] #60 closed

[2018-10-30 21:39] ClueControl commented on #63
Hi Kori!

Thanks for looking at this, I really appreciate it.

Chargify gave me the info on 4/23.  I don’t think its changed, I just don’t think its documented.  I attached the email thread here to make sure I didn’t leave anything out.

Shawn

From: Kori Francis <notifications@github.com>
Sent: Tuesday, October 30, 2018 3:47 PM
To: kfrancis/chargify-dot-net <chargify-dot-net@noreply.github.com>
C

[2018-11-01 16:30] agustinbcu01 commented on #59
Any ETA for this feature.

[2018-11-02 15:47] kfrancis commented on #63
Ok, perfect! That's what I needed.

[2018-11-02 20:17] kfrancis commented on #59
I'll get this done next week, unless someone wants to throw in a PR.

[2018-11-19 20:10] jpodpro opened #66 "GetCustomerList only returns first 2138 customers"
The comment for GetCustomerList() is:

I have 3823 customers and only 2138 customers are returned when using this function. Is the comment wrong? Is it meant to say "will REQUIRE multiple calls to Chargify" ? Why 2138 of all numbers? Multiple calls to this only ever returns the first 2138 customers.

I would suggest updating the explanation for the function since it is not clear what will happen a

[2018-11-19 20:19] #66 closed

[2018-12-03 04:12] jpodpro opened #67 "Add method for enabling billing portal"
We have need for programatically enabling the billing portal. Chargify supports this (https://reference.chargify.com/v1/billing-portal/enabling-billing-portal-for-customer) but there is no method for this in your API.

It doesn't look that difficult to contribute this myself. If you are unable or unwilling to do it I can try to find the time.

[2018-12-20 15:23] ClueControl commented on #63
Hi Kori,

I know you do this as a courtesy and spare time kind of thing.  Is there anything I can do from my side to help?  I am happy to test or code review or anything like that.  Especially over this holiday – I am off work now till the 2nd and have no big plans so will be working on my own code.

Merry Christmas!

Shawn

From: Kori Francis <notifications@github.com>
Sent: Friday, November 2, 2

[2019-01-11 21:09] rdelott opened #70 "chargifyId is defined as an int but Chargify.com test system chargifyId are now long"
i.e. public ICustomer LoadCustomer(int chargifyId);

This same issue will occur for subscriptions in the future, however at this time they are in the millions.

[2019-01-11 21:15] rdelott commented on #70
this was by mistake

[2019-01-11 21:15] #70 closed

[2019-03-18 03:52] EdLichtman opened #71 "BUG: No ability to retrieve all subscriptions of a Specific State"
There seems to be no ability to get more than 20 total subscriptions of a specific state. As there is paging on subscriptions without specifying state, there should be paging for subscriptions with state.

Coincidentally, would it be useful to open another ticket to be able to gather more than 50,000 total subscriptions? because it seems GetSubscriptionList has a max of 50k (50 per page * 1000 pag

[2019-03-18 04:14] EdLichtman commented on #71
@kfrancis Hey man, I saw the opportunity to fix this so I've created a pull request -- I did it on my mac, and I'm not entirely certain of your testing infrastructure, so I haven't yet had the opportunity to verify that these changes are idempotent. I'd love to talk with you further about helping this project -- I don't use Twitter often, but you could find me at @EdTheDiglett and from there we co

[2019-03-19 13:54] kfrancis commented on #71
Done, looks good @EdLichtman. I'll release it to nuget shortly.

[2019-03-19 14:09] #71 closed

[2019-03-20 00:37] EdLichtman commented on #63
@ClueControl @kfrancis perhaps we should include in the documentation that this endpoint feature needs to be turned on by Chargify, and if they need it on, contact them at...? I created my own purge-enabled chargify connect but when I saw this feature I tried to use it but had to reach out to chargify to find out why it wasn't working.

[2019-03-20 00:59] EdLichtman commented on #63
@kfrancis this one I also did on my mac so I didn't have intellisense -- I think I got all of the fields right -- let me know if it passes when you have the time.

Cheers,
Eddie

[2019-03-20 00:59] EdLichtman commented on #63
https://github.com/kfrancis/chargify-dot-net/pull/73

[2019-03-20 01:06] EdLichtman commented on #12
@TimS- What coupon validation are you looking to do? Could you please provide a summary of the endpoints you're looking to add?

[2019-03-20 01:45] EdLichtman commented on #67
@kfrancis https://github.com/kfrancis/chargify-dot-net/pull/74

Also, I expect that at least one but at most 5 tests won't pass. Could you please let me know what the Error "GetBillingManagementLink" throws says when a user doesn't have access?

In addition, let me know if the revocation of billing portal link comes before or after enabling upon customer creation once you find out via the tests.

[2019-03-21 13:48] EdLichtman opened #75 "BUG FIX: Update Delayed Cancelis not working"
Hey Kori,

Not sure sure if the documentation has changed, but Update Delayed Cancel is not working -- there seems to be two endpoints, CancelDelayedCancel and UndoCancellation.

I'm working on a bug fix and hope this will be merged in and added soon -- I'll post as soon as pull request is up.

[2019-03-21 15:29] EdLichtman commented on #75
https://github.com/kfrancis/chargify-dot-net/pull/76

@kfrancis I did this from my Windows this time but I don't have the tests pass -- awaiting discussion over gitter to figure out how to start testing. Please let me know if tests pass

[2019-03-21 15:35] EdLichtman commented on #75
Also @kfrancis I introduced some functional methods for code cleanup. I'm really excited to be using them if you like them, but I also don't want to introduce complexity for others trying to join the project. Please let me know if you would like me to rewrite them before pulling in the branch, and also please let me know if you would like me to start rewriting other methods to use these Functions

[2019-04-01 18:42] kfrancis commented on #75
Included in https://github.com/kfrancis/chargify-dot-net/releases/tag/v1.3.3

[2019-04-01 18:42] #75 closed

[2019-04-01 18:42] kfrancis commented on #63
Included in https://github.com/kfrancis/chargify-dot-net/releases/tag/v1.3.3

[2019-04-01 18:42] #63 closed

[2019-04-01 18:42] kfrancis commented on #67
Included in https://github.com/kfrancis/chargify-dot-net/releases/tag/v1.3.3

[2019-04-01 18:42] #67 closed

[2019-04-04 13:35] EdLichtman opened #78 "Using Generics for Metadata"
I'm trying to use the SetMetaFor and GetMetaDataFor methods, and I'm getting a runtime error thrown. I'd like to use a where T: constraint to give me a compile-time error, but I'd also like to use the generic: ISubscription, ICustomer instead of Subscription/Customer.

Is there a business reason you did not want the generics to be useable or could I fix that?

[2019-04-04 13:37] EdLichtman commented on #78
Also, I'd like to make "Page" auto-set to null if it's not populated and add documentation to explain that page is indexed at 1

[2019-04-04 15:13] EdLichtman commented on #78
https://github.com/kfrancis/chargify-dot-net/pull/79

[2019-04-09 16:55] EdLichtman commented on #78
@kfrancis the code for both MetaData and CancelAtEndOfBilling were not working for Json, so I've started on a new path of clean JSON Implementation. let me know what you think please

[2019-04-12 13:21] EdLichtman opened #80 "Production Import Messes with GetSubscriptionList"
Because Chargify Returns Subscriptions from newest to oldest by default, we run into an off-by one error while importing all subscriptions. Here's a scaled down example of what happens, with 3 subscriptions:

I have 3 subscribers, Jesse, Lesley and Charley.

I get 3 subscriptions per page.

Because Subscriptions is not 0, I need to Get next page.
Hunter signs up in the middle of this process.

Had

[2019-04-12 14:19] EdLichtman commented on #80
@kfrancis Fix is in my development branch pull request. Ready for review. I've also started implementing a different system of making requests so that we can more easily create JSON requests using anonymous objects. If we start to transition some of the other methods over I think we can write a lot less code to get the job done

[2019-04-12 20:50] EdLichtman opened #81 "Umlauts, Ampersands and other Non-Unicode Characters broken while creating customer"
We have customers with Umlauts in their names, or other customers with & --as in "Batman & Robin" because the customer shares a joint account.

CreateCustomer does not accept ampersands or Umlauts, however Chargify does. Working on Fix in Development branch. Will notify when complete.

[2019-04-12 23:01] EdLichtman commented on #81
Code is up for review @kfrancis

[2019-04-15 16:03] kfrancis commented on #81
I'll check that out, thanks @EdLichtman

[2019-04-15 16:03] kfrancis commented on #80
I'll check that out as well, thanks @EdLichtman

[2019-05-08 20:40] EdLichtman commented on #81
@kfrancis any movement on this?

[2019-05-13 20:19] EdLichtman commented on #80
Hey @kfrancis I hope everything's going alright, do you have any questions about my pull request? Is it too much going on in a single pull request? are you needing me to try and minimize the code changed or anything? Really trying to get these bug fixes into the next version as soon as possible.

[2019-05-21 14:18] EdLichtman opened #83 "SanitizedData is not sanitizing CVV"
Hi @kfrancis, big security concern here: The CVV is not being masked. Data coming back with First and Last Name, last 4, and billing address, so we should not be logging the cvv. This means the data is a security concern. I suggest that when sanitizing the data, anywhere that we scrub the "FullNumber" we Mask(0) (meaning show last 0 based on your mask extension). This way we can at least see how m

[2019-05-21 14:24] #83 closed

[2019-05-21 14:25] EdLichtman commented on #83
https://security.stackexchange.com/questions/84894/why-dont-popular-web-services-mask-the-cvv

CVV masking is not required by PCI, and is not as big of a security risk as one might think.

[2019-08-12 15:34] tashhhh2 opened #84 "3D Secure"
Will 3D Secure implemented nearest time?
https://reference.chargify.com/v1/subscriptions/subscription-threedsecure

[2019-09-24 14:24] kfrancis commented on #84
Sure, it can be.

[2020-01-18 20:08] rgmills opened #85 "Add support for multiple coupon codes"
Hello,

In the near future I think we're going to be in a position where we will need to be able to allow usage of multiple coupon codes.  It looks like Chargify has support for such behavior (based on https://reference.chargify.com/v1/subscriptions-coupons/create-subscription-with-multiple-coupon-codes) by having a property such as `public string[] CouponCodes`.

Would there be any desire to acce

[2020-03-04 15:12] #85 closed

[2020-03-04 15:13] kfrancis commented on #81
MErged

[2020-03-04 15:13] #81 closed

[2020-06-24 20:48] Glen5641 opened #88 "Coupon Percentage defaulting to Zero."
I see the coupon percentage is always defaulting to zero coming from the library even with known percentages in Chargify. It may be as simple as the coupon percentage coming from Chargify's API is a floating point number in the form of a string and is being converted to an integer instead of being converted to a decimal and then cast to an integer.

If this is still maintained, could I have help f

[2020-06-30 14:14] kfrancis commented on #88
Sure, let me take a look.

[2020-06-30 14:15] kfrancis commented on #88
And of course, feel free to fix it and send a PR.

[2020-06-30 14:43] Glen5641 commented on #88
I appreciate the message back Kori. This is an educated guess and I want to make sure this is right before I pull request. Chargify is quite new to me so I do not know the back story. I feel Chargify coupon percentage was originally an integer, but changed their API's coupon percentage to a decimal from integer in the recent past.

A simple _percentage = (int)obj.GetJSONContentAsDecimal(key);
On l

[2020-06-30 15:05] kfrancis commented on #88
Ah, yes - ok. I'm on it.

[2020-06-30 15:11] #88 closed

[2020-06-30 15:13] kfrancis commented on #80
@EdLichtman Sorry for the delay, that should be in.

[2020-06-30 15:13] #80 closed

[2020-06-30 15:14] #78 closed

[2020-07-20 17:34] asfmadx commented on #52
Is this going to be implemented?

[2021-04-07 13:04] janigorse commented on #84
Is there any progress on 3D secure implementation?

[2021-09-29 15:31] nvlashi opened #89 "Support Price Points on Component Allocations"
I don't see anywhere in the code to be able to allocate a component at a specific price point because the ComponentAllocation class does not support the price_point_id attribute which can/should be set on the request body.

[2021-10-07 18:48] EdLichtman commented on #52
Haven't worked in here in a while and I definitely don't have a dev environment set up or dev credentials.

I'd be interested in trying to help, but I'd like to take some time to figure out automated tests.

[2021-10-20 18:04] rgmills opened #90 "Add handle for PaymentCollectionMethod "invoice""
I'm not terribly sure about the specifics of billing with Chargify, but we are now billing using invoices for our customers and the PaymentCollectionMethod that is coming back is `invoice` not `Remittance`.

I'll open up a PR to add support plus changes to use Enum.TryParse for PaymentCollectionMethods that  would fallback to Unknown.

[2021-10-25 15:22] #90 closed, assigned to nobody

[2021-10-30 20:31] EdLichtman commented on #52
Honestly @kfrancis I don't think I'll get it done. Things have been packed. If in a week from now you still haven't gotten it done, I'll see about trying it out, but I won't start working on it unless I come back and tell you I'm doing it. I don't want to stop you from delivering value to the people who rely on your library.

[2021-11-02 20:26] kfrancis commented on #52
Well, I remember now why I didn't add it immediately. Kind of annoying to implement, especially if I want to keep XML format alive in there as well. Working on it.

[2021-11-02 20:29] kfrancis commented on #52
#89

[2021-11-03 18:10] #89 closed

[2021-11-03 18:11] kfrancis commented on #52
See release v1.4.0.

Now, not all methods are currently implemented. I've found that this set of endpoints is rather fickle between json and XML. I'm still working on getting more information from Chargify, at which time I'll release an update.

[2021-11-03 18:11] #52 closed

[2022-08-04 16:19] EvidenceEkanem opened #92 "Documentation page for chargify.NET is down"
I'm new to chargify.Net and followed the instructions from the readMe but when I checked the docs, I saw that its down http://chargify.codeplex.com/documentation

[2022-08-06 22:29] kfrancis commented on #92
Oh, that link is super old. I can't even recall what was on that page. In general, this library is super easy to use. Just check the sample project. If you get stuck, let me know.

[2022-08-06 22:29] #92 closed